<button (click)="toggleTheme()"
    class="relative flex items-center justify-between w-12 h-6 rounded-full transition-all duration-300"
    [class.bg-gray-300]="!(darkMode$ | async)" [class.bg-blue-600]="(darkMode$ | async)">
    <span class="absolute left-0 top-0 w-6 h-6 bg-white rounded-full shadow transform transition-transform duration-300"
        [class.translate-x-6]="(darkMode$ | async)"></span>

    <i class="fa-solid fa-sun text-yellow-400 text-xs absolute left-1 transition-opacity duration-300"
        [class.opacity-0]="(darkMode$ | async)"></i>

    <i class="fa-solid fa-moon text-white text-xs absolute right-1 transition-opacity duration-300"
        [class.opacity-0]="!(darkMode$ | async)"></i>
</button>
